/*customize slim select*/
body {
    font-size: 0.95rem;
}
.ss-main .ss-single-selected {
    font-weight: bold;
}

.text-option {
    margin-bottom: 5px;
}

.ss-main {
    display: block;
    float: left;
    margin: 10px 0;
}

/* ----- general ------- */
.nav-main {
    background-color: #24292e;
}

.nav-sub {
    background-color: #fafbfc;
    border-bottom: #e1e3e6 1px solid;
}
nav a h5{
    margin: 0;
}

.nav-sub-text {
    width: fit-content;
    border-bottom: #2123a1 1.5px solid;
    padding-bottom: 20px !important;
}

/* -------- left panel --------- */
#promptContent {
    display: inline-block;
    height: 250px;
    border-radius: 0 0 10px 10px;
    background: #f6f8fa;
    width: 100%;
    padding: 15px;
    overflow: auto;
}

#table-wrapper {
    display: inline-block;
    overflow: auto;
}

/* --- table ----*/

.table-striped tbody tr:nth-of-type(odd){background-color: #f6f8fa
}