/*customize slim select*/
body {
    font-size: 0.95rem;
    /*overflow-x: hidden;*/
}
.ss-main .ss-single-selected {
    font-weight: bold;
}

.text-option {
    margin-bottom: 5px;
}

.ss-main {
    display: block;
    float: left;
    margin: 10px 0;
}

/* ----- general ------- */
.navbar-brand {

}
.navbar a:hover {
    opacity: 0.4;
    transition: 0.3s;
}
.nav-main {
    background-color: #24292e;
}

.nav-sub {
    background-color: #fafbfc;
    border-bottom: #e1e3e6 1px solid;
}
nav a h5{
    margin: 0;
}

.nav-sub-text {
    width: fit-content;
    border-bottom: rgba(63, 42, 161, 0.79) 2px solid;
    padding-bottom: 20px !important;
    margin-left: 1.65rem;
}

.row{
    margin-right: auto;
}

nav div span a{
    line-height: 0.1;
}

nav div span a:hover{
    text-decoration: none;
}

/* -------- left panel --------- */
#promptContent {
    display: inline-block;
    height: 250px;
    border-radius: 0 0 10px 10px;
    background: #f6f8fa;
    width: 100%;
    padding: 15px;
    overflow: auto;
}

#leftWrapper2 {
    display: inline-block;
}


#table-wrapper {
    display: inline-block;
    overflow: auto;
}

#descriptive {
    color: #727c85;
    font-weight: normal;
}

/* --- table ----*/

.table-striped tbody tr:nth-of-type(odd){background-color: #f6f8fa
}

/* ----- marking highlighting ------ */

.highlight {
    padding: 2px 5px;
    margin: 0;
    line-height: 1;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 0.35rem;
}

mark span{
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1;
    border-radius: 0.35em;
    text-transform: uppercase;
    /* vertical-align: middle; */
    margin-left: 0.3rem;
    color: #424242;
}

.cloud-text{
    transition: 0.1s;
}